* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Sriracha', cursive;
    background-color: #232325;
    max-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    text-decoration: underline;
    color: #2265FF;
}
 @media (max-width:680px) {
        .info {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1px;
        }
}

.info {
    display: flex;
    width: 60vw;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block;

}

.img {
    display: block;
    width: 300px;
    height: 300px;
}

.top {
    position: absolute;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    
}

.container:hover .top {
    opacity: 1;
}

.text  p {
    color: #2265FF;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    text-align: center;
}

.box1  {
    height: 100%;
    width: 0;
    top:0;
    left: 0;
    background-color: #1F012F;
}

.container:hover .box1 {
    width: 100%;
}

.box2  {
    height: 0;
    width: 100%;
    top:0;
    left: 0;
    background-color: #1F012F;
}

.container:hover .box2 {
    height: 100%;
}

.box3  {
    height: 100%;
    width: 0;
    top:0;
    right: 0;
    background-color: #1F012F;
}

.container:hover .box3 {
    width: 100%;
}

nav {
    height: 10vh;
    background-color: #1F012F;
    opacity: 0.9;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.nav-links li a {
    text-decoration: none;
    color: #2265FF;
    font-size: 36px;
}


@media screen and (max-width: 768px){
    .line {
        width: 30px;
        height: 3px;
        background:#2265FF;
        margin: 5px;
}
    nav {
        position: relative;
    }
    .hamburger {
        z-index: 15;
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%);

    }
    
    .nav-links {
        z-index: 14;
        position: fixed;
        background: #1F012F;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(10px at 10% -10%);
        -webkit-clip-path:circle(10px at 0% -10%);
        transition: all 1s ease-out;
        overflow:visible
        }

    .nav-links.open {
        clip-path: circle(800px at 10% 10%);
        -webkit-clip-path:circle(800px at 10% 10%);
    }
}

.nav-links li a:hover {
    text-decoration: underline;
    color: aliceblue;
    
}