* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

.mainpage {
    position: relative;
    width: 100vw;
    height: 100vh;
    background:black
}
.cup-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/back-img.jpg');
    background-repeat: no-repeat;
    border-color: transparent;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    
 } 

 .fog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
}

.fog1 {
    background: url('../img/fog-1.png');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: smoke 60s linear infinite;
}

.fog2 {
    background: url('../img/fog-2.png');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: smoke 30s linear infinite;
}

@keyframes smoke {
  0% {
      transform: translate3d(0, 0, 0);
  }  
  100% {
    transform: translate3d(-200vh , 0, 0)
}
}

.title {
    position: absolute;
    color: #2265FF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.title > h1 {
    font-size: 40px;
    text-align: center;
}

aside {
    position:absolute;
    top:30%;
    left: 0;
    margin-left: 9px;
    z-index: 11;
    font-size: 30px;
    color: #2265FF;
}

.nav  ul  li a {
    list-style: none;
    text-decoration: none;
    color: #2265FF;
    
}

.nav  ul  li a:hover {
    text-decoration: underline;
    color: aliceblue;
    
}