* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

.mainpage {
    position: relative;
    width: 100vw;
    height: 90vh;
    background:black
}
.cup-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/back-img.jpg');
    background-repeat: no-repeat;
    border-color: transparent;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    
 } 

 .fog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
}

.fog1 {
    background: url('../img/fog-1.png');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: smoke 60s linear infinite;
}

.fog2 {
    background: url('../img/fog-2.png');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: smoke 30s linear infinite;
}

@keyframes smoke {
  0% {
      transform: translate3d(0, 0, 0);
  }  
  100% {
    transform: translate3d(-200vh , 0, 0)
}
}

.title {
    position: absolute;
    color: #2265FF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.title > h1 {
    font-size: 40px;
    text-align: center;
}

nav {
    height: 10vh;
    background-color: #1F012F;
    
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.nav-links li a {
    text-decoration: none;
    color: #2265FF;
    font-size: 36px;
}


@media screen and (max-width: 768px){
    .line {
        width: 30px;
        height: 3px;
        background:#2265FF;
        margin: 5px;
}
    nav {
        position: relative;
    }
    .hamburger {
        z-index: 15;
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%);

    }
    
    .nav-links {
        z-index: 14;
        position: fixed;
        background: #1F012F;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(10px at 10% -10%);
        -webkit-clip-path:circle(10px at 0% -10%);
        transition: all 1s ease-out;
    }

    .nav-links.open {
        clip-path: circle(800px at 10% 10%);
        -webkit-clip-path: circle(800px at 10% 10%);
    }
}

.nav-links li a:hover {
    text-decoration: underline;
    color: aliceblue;
    
}